///bg

$accent: #3671e9 !default;
$secondary-color: #2b076e;
$primary-color: #0d0d2b;
$background-color: #fff;
$surface-color: hsla(0, 0%, 100%, 0.1);

///text
$white-text: #fff;
$sub-text: #e0e0e0;
$text-secondary-color: #2b076e;
$text-primary-color: #0d0d2b;
