@use "sass:math";

//we are creating this function so we can create light and dark modes.
//In dark mode, we would change the primary color and all the text would change accordingly.
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@function px-to-em($pixels) {
  @if math.is-unitless($pixels) {
    @return math.div($pixels, 16) + em;
  } @else {
    @error "Don't add units to the em() function, only number";
  }
}
@function rem($pixels) {
  @if math.is-unitless($pixels) {
    @return math.div($pixels, 16) + rem;
  } @else {
    @error "Don't add units to the em() function, only number";
  }
}

@debug (math.div(4, 2));

//other functions: complement()
