@use "../config/" as *;
.features {
  @include flex(column);
  color: $white-text;
  width: 100%;
  padding-top: $spacing-xl;

  p {
    font-size: $font-sm;
  }

  &__headline {
    max-width: rem(500);
    text-align: center;
    padding-block: $spacing-lg;
  }
}

.feature {
  padding-bottom: $spacing-3xl;
  display: grid;
  gap: $spacing-xl;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "col1 col1" "col2 col2";
  @include breakpoint-up(large) {
    grid-template-areas: "col1 col2";
  }
  &.left {
    @include breakpoint-up(large) {
      grid-template-areas: "col2 col1";
    }

    .feature__content {
      place-self: center;
    }
  }

  &__content {
    grid-area: col1;
    @include flex(column);
    align-items: flex-start;
    gap: $spacing-lg;
    overflow: wrap;
  }
  &__title {
    font-weight: $font-heavy;
  }
  &__text {
    color: $sub-text;
    line-height: 1.2;
    // white-space: pre-wrap;
    // word-break: break-word;
    // word-wrap: break-word;
  }
  &__image--container {
    grid-area: col2;
  }
  &__image {
    object-fit: contain;
    width: 100%;
    /*for objecct-fit to work, images need to have a width and height */
  }
}
