@use "../config/" as *;
.footer {
  color: $white-text;

  &--top {
    @include grid(4, 0);
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    align-items: flex-start;
    justify-items: flex-start;
    padding-block: $spacing-xl;
  }
  &--bottom {
    @include flex(row, space-between);
    padding-block: $spacing-xl;
  }
  &__links,
  &__payment {
    @include flex(column);
    gap: $spacing-md;
    align-items: flex-start;
  }
  &__payment--title {
  }
  &__payment--icons {
    @include flex(row);
    gap: $spacing-md;
  }
  &__socials {
    @include flex(row);
    gap: $spacing-lg;
  }
}
