@use "../config/" as *;
.footer {
  color: $white-text;

  &--top,
  &--bottom {
    @include flex(row, space-between);
    align-items: flex-start;
    padding-block: $spacing-xl;
    @include breakpoint-down(medium) {
      @include flex(column);
      gap: $spacing-2xl;
    }
  }

  &__links,
  &__payment {
    @include flex(column);
    gap: $spacing-md;
    align-items: flex-start;
    @include breakpoint-down(medium) {
      align-items: center;
    }
  }
  &__payment--title {
    padding-bottom: $spacing-md;
  }
  &__payment--icons {
    @include flex(row);
    gap: $spacing-md;
  }
  &__socials {
    @include flex(row);
    gap: $spacing-xl;
  }
}
