@use "../config/" as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  color: white;
  padding-inline: $spacing-md;

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .icon-bars {
    cursor: pointer;
    @include breakpoint-up(large) {
      display: none;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include breakpoint-down(medium) {
      display: none;
    }
    > div {
      display: flex;
      align-items: center;
      cursor: pointer;
      @include breakpoint-up(medium) {
        padding-left: 1rem;
      }
      hr {
        height: rem(24);
        width: 1px;
        background: $sub-text;
        border: none;
        margin: 0 1rem;
      }
    }
  }
}
