@use '../config/' as *;

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    color: white;
    padding-inline: $body-margin;

    .brand {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    hr {
        height: rem(24);
        width: 1px;
        background: gray;
        border: none;
    }
    button {
        padding: rem(14) rem(32);
        border-radius: 1rem;
        background: $accent;
    }
}