html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background-color: #0d0d2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--on-background);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
@media only screen and (min-width: 48.0625em) {
  h1 {
    font-size: 3.375rem;
  }
}
@media only screen and (min-width: 64em) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: clamp(2rem, 1rem + 2vw, 3rem);
}

h3 {
  font-size: clamp(1.75rem, 0.875rem + 1.6vw, 1.875rem);
}

h4 {
  font-size: clamp(1rem, 0.625rem + 1.2vw, 1.5rem);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

p {
  margin-top: 0;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

main {
  height: 100%;
  width: 100%;
}

section {
  margin-inline: auto;
  padding-top: 2rem;
  color: var(--on-background);
  transition: all 0.5s ease-in-out;
}

button {
  position: relative;
  padding: 0.625rem;
  background: #3671e9;
  color: var(--on-background);
  text-transform: capitalize;
  border: transparent;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.page-container {
  width: 90vw;
  margin-inline: auto;
}
@media only screen and (min-width: 48.0625em) {
  .page-container {
    width: 85vw;
  }
}

.styled-button::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: 0.3125rem;
  transition: all 0.5s ease-in-out;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}
.styled-button:hover {
  color: var(--on-primary);
}
.styled-button:hover::before {
  transform: scaleX(1);
}

.active-btn {
  color: var(--on-primary);
}
.active-btn::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: 0.3125rem;
  transition: all 0.5s ease-in-out;
  background-color: var(--primary-color);
  transform-origin: left;
  z-index: -1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: var(--primary-color);
  font-size: 20px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.error-svg {
  fill: red;
  font-size: 5rem;
}

.cart-svg {
  fill: var(--secondary-color);
  font-size: 5rem;
}

.error {
  height: calc(100vh - 4rem);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
  position: relative;
}
.error__attribution {
  position: absolute;
  bottom: 10px;
  left: 50;
  color: var(--sub-text-color);
}

.button {
  padding: 0.875rem 2rem;
  border-radius: 1rem;
  background: #3671e9;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  color: white;
  padding-inline: 5rem;
  /* i moved button to utils in scss folder so we can use it in other sections*/
}
nav .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav hr {
  height: 1.5rem;
  width: 1px;
  background: gray;
  border: none;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #fff;
  width: 100%;
}
.features__headline {
  max-width: 31.25rem;
  text-align: center;
  padding-block: 1.25rem;
}

.feature {
  padding-bottom: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "col1 col1" "col2 col2";
}
@media only screen and (min-width: 64em) {
  .feature {
    grid-template-areas: "col1 col2";
  }
}
@media only screen and (min-width: 64em) {
  .feature.left {
    grid-template-areas: "col2 col1";
  }
}
.feature.left .feature__content {
  place-self: center;
}
.feature__content {
  grid-area: col1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  align-items: flex-start;
  gap: 1.25rem;
  overflow: wrap;
}
.feature__text {
  color: hsl(0deg, 0%, 70%);
  line-height: 1.2;
  word-break: break-word;
  word-wrap: break-word;
}
.feature__image {
  grid-area: col2;
}
.cta {
  background: #3671e9;
  padding-inline: 1rem;
  border-radius: 0.625rem;
  color: #fff;
}/*# sourceMappingURL=style.css.map */