@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;
@use "./functions" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background-color);
  color: $sub-text;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  width: 100%;
  transition: $transition;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-heavy;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: px-to-rem(12);
  color: $white-text;
}

//----font-sizes: 16px,28px,32px,36px,42px,48px,54px,60px

h1 {
  font-size: px-to-rem(48);

  @include breakpoint-up(medium) {
    font-size: px-to-rem(54);
  }
  @include breakpoint-up(large) {
    font-size: px-to-rem(60);
  }
}
//----------OR------------------//
h2 {
  font-size: clamp(
    px-to-rem(32),
    px-to-rem(16) + 2vw,
    px-to-rem(48)
  ); //8.53vw; //32px
}
h3 {
  font-size: clamp(
    px-to-rem(28),
    px-to-rem(14) + 1.6vw,
    px-to-rem(30)
  ); //7.47vw; //28px
}
h4 {
  font-size: clamp(
    px-to-rem(16),
    px-to-rem(10) + 1.2vw,
    px-to-rem(24)
  ); //4.27vw; //16px
}
h5 {
  font-size: clamp(
    px-to-rem(16),
    px-to-rem(10) + 1vw,
    px-to-rem(20)
  ); //4.27vw; //16px
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: $transition;
  // &:hover {
  //   color: $secondary-color;
  // }
}

p {
  margin-top: 0;
  font-size: $font-sm;
  color: $sub-text;
}
ul {
  list-style-type: none;
  color: $sub-text;
}
main {
  height: 100%;
  width: 100%;
}
input {
  outline: none;
}

section {
  margin-inline: auto;
  color: var(--on-background);
  transition: $transition;
}
button {
  position: relative;
  padding: $spacing-sm;
  background: $accent-color;
  color: white;
  text-transform: capitalize;
  border: transparent;
  border-radius: $radius-sm;
  cursor: pointer;
  transition: $transition;
  z-index: 1;
}
.page-container {
  width: 90vw;
  margin-inline: auto;
  @include breakpoint-up(medium) {
    width: 85vw;
  }
}
