@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;
@use "./base" as *;
@use "./functions" as *;

.styled-button {
  &::before {
    content: "";
    @include absolute-position-all(-3px);
    border-radius: $radius-sm;
    transition: $transition;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
  }
  &:hover {
    color: var(--on-primary);

    &::before {
      transform: scaleX(1);
    }
  }
}
.active-btn {
  color: var(--on-primary);
  &::before {
    content: "";
    @include absolute-position-all(-3px);
    border-radius: $radius-sm;
    transition: $transition;
    background-color: var(--primary-color);
    transform-origin: left;
    z-index: -1;
  }
}

.center {
  @include flex(column, center);
  min-height: 100vh;
  gap: $spacing-md;
}
