*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 1000;
  

}
body{
    font-family: Inter, sans-serif;
    min-height: 100vh;
   
}
p{
    color: #000;
}
h1,h2,h3,h4{
    color: #000;
    margin: 0;
}
